@model CategoryUpdateVM
@{
    ViewData["Title"] = "UpdateCategory";
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<h1>Update Category</h1>

<form action="UpdateCategory" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter a category name here">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button class="btn btn-outline-success">Update</button>
</form>