@model ProductUpdateVM
@{
    ViewData["Title"] = "UpdateProduct";
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<h1>Update Product</h1>


<form action="UpdateProduct" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProductFeature.Id" />
    <input type="hidden" asp-for="ProductFeature.ProductId" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Product Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="Quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" asp-for="Quantity">
        <span asp-validation-for="Quantity" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price</label>
        <input type="text" class="form-control" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="ProductFeature.Height" class="form-label">Height(Optional)</label>
        <input type="text" class="form-control" asp-for="ProductFeature.Height">
        <span asp-validation-for="ProductFeature.Height" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="ProductFeature.Weight" class="form-label">Weight(Optional)</label>
        <input type="text" class="form-control" asp-for="ProductFeature.Weight">
        <span asp-validation-for="ProductFeature.Weight" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="ProductFeature.Colour" class="form-label">Colour(Optional)</label>
        <input type="text" class="form-control" asp-for="ProductFeature.Colour">
        <span asp-validation-for="ProductFeature.Colour" class="text-danger"></span>

    </div>

    <button class="btn btn-outline-success">Update</button>
</form>

